* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

.grid {
    display: grid;
    /*grid-template-columns: 200px 1fr 2fr;  fr is a fragment */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    grid-template-columns: [one] 1fr [two] 1fr [three] 1fr [four];
    gap: 10px;
}

.grid div {
    background-color: cadetblue;
    min-height: 50px;
}

.grid div:nth-child(8) {
    /* grid-column-start: two;
    grid-column-end: four; */
    grid-column: two / four;
}

.grid div:nth-child(10) {
    /* grid-column-start: two;
    grid-column-end: four; */
    grid-area: 5 / 2 / 7/ 4;
    /*  row-start / column-start / row-end / column-end  */
}

