* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

/* body {
    height: 100vh;
} */

header {
    background-color: blue;
    height: 100vh;
}

nav {
    background-color: aqua;
}

.part {
    height: 100vh;
}

.part:nth-child(odd) {
    background-color: gray;
}

footer {
    background-color: aquamarine;
    height: 50vh;
}