* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 20px;
}

.two-columns {
    display: flex;
}

.colum {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 15px;
}

p {
    text-align: justify;
    text-indent: 20px;
    margin: 30px;
}

.gallery {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    

}

.gallery .img{
    background-color: wheat;
    height: 50px;
    flex: 1 0 20%;
    margin: 10px;
}

