* {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-between;
    align-items: stretch;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    background-color: yellow;
    /* flex-wrap: wrap; */
    flex-flow: row wrap; /* It's short-cut to flex-direction and flex-wrap */
    /* height: 100vh; */
}

.flex-item {
    flex-grow: 1; /* Allows space to be distributed between elements */
    flex-basis: 320px; /* Sets the size of elements that will start*/
    flex-shrink: 0; /* Determines whether the size defined by flex-basis will decrease or not */
    flex: 1 0 320px; /* It's short-cuts to flex-grow, flex-shrink and flex-basis */ 
    background-color: red;
    /* width: 33.33%; */
    height: 200px;
    /* margin: 10px; */
}

.flex-item:nth-child(2) {
    background: orange;
    flex: 10 0 320px;
}

.flex-item:nth-child(3) {
    background: purple;
    flex: 1 0 400px;
}