* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-conteiner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background-color: yellow;
    height: 500px;

}

.flex-items {
    background-color: red;
}