@charset "UTF-8";

body {
    background-color: rgba(39, 198, 39, 0.251);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(23, 109, 23);
    font-family: 'Times New Roman', Times, serif;
}
h1#principal {
    text-align: center;
    background-color: rgb(23, 109, 23);
    color: white;
}

h2 {
    color: rgb(14, 63, 14);
    font: bold 1.5em 'Times New Roman', Times, serif;

}

.basico {
    color: rgb(14, 62, 63);
}

.intermediario {
    color: rgb(57, 63, 14);
}

.avançado {
    color: rgb(63, 14, 14);
}